
.archive-php {
  header{
    margin: 0 0 1em;
    display: block;
    float: left;
    width: 100%;
    .svg-term{
      width: 48px;
      float: left;
      display: inline-block;
      border: 1px solid grey;
      border-radius: 4px;
      padding:.5em;
    }
    .term-title{
      font-size: 24px;
      font-weight:300;
      float: left;
      clear: none;
      display: inline-block;
      line-height:64px;
      margin: 0 0 0 1em;
    }
  }

  .eos_themes_posts {
    float: none;
    width: 92%;
    height: auto;
    padding: 0;
    margin: 0 auto 4em;
    position: relative;
    .box-overlay {
      opacity: 0;
      transition: all .4s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.86);
      height: 100%;
      text-align: center;
      cursor: pointer;
      h2 {
        color: #fff;
        a {
          color: #fff !important;
          display: block;
          width: 100%;
          font-size: 18px;
          padding: 1em 0;
          svg {
            width: 32px;
            height: 32px;
            clear: both;
            display: block;
            text-align: center;
            margin: 2em auto 0;
            float: none;
          }
        }
      }
    }
    &:hover {
      .box-overlay {
        opacity: 1;
      }
    }
    .entry-content {
      a {
        img {
          width: 100%;
          height: auto;
          max-width: 100%;
        }
      }
    }
  }
}
