#colophon {
  clear: both;
  padding: 10px 0 70px;
  width: 100%;
  border-top: 1px solid rgba(255,255,255,0.34);
  display: block;
  float: none;
  margin: 4em auto;
  max-width: 96%;
  #footer_left {
    width: 92%;
    float: none;
    margin: 0 auto;
    padding: 0;
    .menu{
      float: left;
      width: 100%;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          display: inline-block;
          float: none;
          margin: 0 1%;
        }
      }
    }
    a {
      float: left;
      color: #999999;
      margin: 0 4px;
    }
    .social {
      text-align: center;
      margin: 0 0 0 4%;
      display: block;
      float: right;
      .socialLinks {
        margin: 0 10px 0 0;
        display: inline-block;
        clear: none;
        float: left;
      }
    }

  }
}
