html {
  background: #e2e2e2 url(img/background-2.png) repeat;
}

body {
  padding: 0;
  background: transparent url(img/bd-head-gradient-2.png) repeat-x 0 0;
}

#header-mobile-menu {
  display: none;
}

#bgcolors {
  background: url(img/couleurs-barre_lateral.png) no-repeat -90px 187px;
  z-index: 0;
}

#page {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
  background: #E2E2E2 url(img/background-2.png) repeat;
}

#page_gd {
  background: transparent url(img/bd-head-gradient-2.png) repeat-x 0 0;
}

#branding hgroup {
  margin: 0;
  float: left;
  width: 270px;
}

#access div {
  margin: 0;
}

#primary {
  float: left;
  margin: 15px 0 50px;
  width: 643px;
}

#content {
  margin: 0;
  width: 643px;
}

#secondary {
  float: left;
  width: 255px;
  margin-right: 100px;
  transition: all .5s ease;
  position: relative;
}

#secondary .homeMenuCom {
  display: none;
}

#search-3, h3.widget-title {
  float: right;
  font-size: 12px;
  color: #ccc;
  margin: 10px 0;
}

/*INDEX ET ACTU*/
#call {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif, Arial;
  color: rgba(255, 255, 255, 0.95);
}

body.home #call {
  padding-top: 4px;
  max-width: 643px;
}

#actubox h2 a {
  font-family: 'Open Sans', sans-serif, Arial;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#actubox {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  float: left;
}

#actubox li.actu_single {
  float: left;
  width: 305px;
  margin: 0 30px 0 0;
  overflow: hidden;
}

.attachment-post-thumbnail.wp-post-image {
  width: 306px;
}

#actubox li.actu_single.numb2 {
  margin-right: 0;
}

.readmore {
  float: right;
  display: block;
  width: 100%;
  text-align: right;
}

a#archive_icon {
  padding: 0 0 0 32px;
  background: url(img/icone--archive.png) no-repeat;
  margin: 40px 0 0;
  float: left;
  width: 210px;
  display: block;
}

#secondary a#archive_icon span {
  background: url(img/icone--archive.png) no-repeat;
  height: 20px;
  width: 26px;
  display: block;
  float: left;
  margin: 5px 15px 0 0;
}

#secondary a#archive_icon {
  float: right;
  text-align: left;
  background: #4E4E4E;
  color: #ccc;
  width: 220px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 5px;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 12px;
}

#secondary a#archive_icon:hover {
  text-decoration: none;
  color: #FF6000
}

#articles {
  background: url(img/px-filet_gris.png) repeat-x 0 0;
  padding: 30px 0 0;
}

// category actualites
body.archive.category .entry-title {
  padding-top: 0;
}



/*taxonomy*/
body.term-bijouterie #primary a {
  color: #027b41;
}

body.term-maisons-et-appartements #primary a {
  color: #55be47;
}

body.term-maroquinerie #primary a {
  color: #008579;
}

body.term-optique #primary a, body.term-optical #primary a {
  color: #a5d9ec;
}

body.term-parfumerie-et-institut #primary a, body.term-pharmacy-beauty #primary a {
  color: #8348b5;
}

body.term-pharmacie #primary a {
  color: #c70bac;
}

body.term-pret-a-porter #primary a {
  color: #db0c41;
}

body.term-restaurant-metiers-de-bouche #primary a {
  color: #fae600;
}

body.term-autres #primary a {
  color: #9b542b;
}

/*category*/
#cat-brd {
  list-style: none;
  margin: 2px 0 10px;
  padding: 0;
}

#cat-brd li a {
  padding: 1px 10px 1px 2px;
  text-align: left;
  color: #fff;
  font-family: 'Open Sans', sans-serif, Arial;
}

#main #primary li#bijouterie a {
  background: #333c38;;
  color: #fff
}

#main #primary li#maisons-et-appartements a {
  background: #3b4539;;
  color: #fff
}

#main #primary li#maroquinerie a {
  background: #33403e;;
  color: #fff
}

#main #primary li#optique a {
  background: #43484a;;
  color: #fff
}

#main #primary li#parfumerie-et-institut a {
  background: #3f3a44;;
  color: #fff
}

#main #primary li#pharmacie a {
  background: #463443;;
  color: #fff
}

#main #primary li#pret-a-porter a {
  background: #483439;;
  color: #fff
}

#main #primary li#restaurant-metiers-de-bouche a {
  background: #4b4933;;
  color: #fff
}

#main #primary li#autres a {
  background: #423b37;;
  color: #fff
}



div#bijouterie h1.entry-title span {
  background-position: 0 0;
}

div#maisons-et-appartements h1.entry-title span {
  background-position: 0 -18px;
}

div#maroquinerie h1.entry-title span {
  background-position: 0 -36px;
}

div#optique h1.entry-title span, div#optical h1.entry-title span {
  background-position: 0 -54px;
}

div#parfumerie-et-institut h1.entry-title span {
  background-position: 0 -72px;
}

div#pharmacie h1.entry-title span {
  background-position: 0 -90px;
}

div#pret-a-porter h1.entry-title span {
  background-position: 0 -108px;
}

div#restaurant-metiers-de-bouche h1.entry-title span {
  background-position: 0 -126px;
}

div#autres h1.entry-title span {
  background-position: 0 -144px;
}

/*liens selon cat*/
div#bijouterie #primary a {
  color: #006233;
}

div#maisons-et-appartements #primary a {
  color: #55be47;
}

div#maroquinerie #primary a {
  color: #008579;
}

div#optique #primary a {
  color: #a5d9ec;
}

div#parfumerie-et-institut #primary a {
  color: #8348b5;
}

div#pharmacie #primary a {
  color: #c70bac;
}

div#pret-a-porter #primary a {
  color: #db0c41;
}

div#restaurant-metiers-de-bouche #primary a {
  color: #fae600;
}

div#autres #primary a {
  color: #9b542b;
}

/*SINGLE CUSTOM POST TYPE*/
#bloc-info {
  display: block;
  float: left;
  background: url(img/bloc-descriptif.png) no-repeat;
  width: 642px;
  height: 140px;
  font-family: 'Open Sans', sans-serif, Arial;
  margin: 20px 0 0;
}

#blockslider {
  display: block;
  float: left;
  height: 390px;
  margin-bottom: 40px;
  width: 100%;
}

#bloc-info ul {
  list-style: none;
  margin: 10px 0 0 25px;
  padding: 0;
  font-family: 'Open Sans', sans-serif, Arial;
}

#bloc-info ul li span.label {
  color: #838383;
  font-family: 'Open Sans', sans-serif, Arial;
}

#bloc-info ul li {
  color: #ccc;
  font-family: 'Open Sans', sans-serif, Arial;
}

#primary.references h1.entry-title {
  font-family: 'Open Sans', sans-serif, Arial;
  color: #fff;
  line-height: 17px;
  font-size: 20px;
  padding: 0 0 35px;
  text-transform: uppercase;
}

.entry-header {
  float: left;
  display: block;
  width: 100%;
}

#primary.references .entry-content {
  display: block;
  float: left;
  width: 100%
}

/*Category*/
body.tax-categorie.archive article.eos_themes_posts {
  float: left;
  width: 184px;
  height: 180px;
  overflow: hidden;
  padding: 0;
  margin: 0 45px 0 0;
}

body.tax-categorie.archive article.eos_themes_posts.nomargin {
  margin-right: 0;
}

.nothumb {
  display: block;
  background: #2C2C2C;
  width: 179px;
  height: 115px;
  float: left;
  clear: both;
  margin: 0 0 8px;
}

#nav-below {
  display: block;
  float: left;
  width: 100%;
  margin: 35px 0 0 0;
}

.nav-previous {
  float: right;
}

.nav-next {
  float: left;
}


#firstHeading {
  color: #000;
}

/* Singular */
.singular #content, .left-sidebar.singular #content {
  margin: 0;
  position: relative;
  width: auto;
}

/*ARCHIVE DATE*/
body.archive.date .hentry {
  float: left;
  width: 40%;
  margin: 0px 30px 15px;
}

/*ARCHIVE SEARCH*/
body.search .hentry {
  float: left;
  width: 40%;
  margin: 0px 30px 15px;
  background: url(img/px-filet_gris.png) repeat-x 0 100%;
  display: block;
  height: 200px;
}

/* Attachments */
.singular .image-attachment .entry-content {
  margin: 0 auto;
  width: auto;
}

.singular .image-attachment .entry-description {
  margin: 0 auto;
  width: 68.9%;
}

/* Showcase */
.page-template-showcase-php #primary, .left-sidebar.page-template-showcase-php #primary {
  margin: 0;
}

.page-template-showcase-php #content, .left-sidebar.page-template-showcase-php #content {
  margin: 0 7.6%;
  width: auto;
}

.page-template-showcase-php section.recent-posts {
  float: right;
  margin: 0 0 0 31%;
  width: 69%;
}

.page-template-showcase-php #main .widget-area {
  float: left;
  margin: 0 -22.15% 0 0;
  width: 22.15%;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Right Content */
.left-sidebar #primary {
  float: right;
  margin: 0 0 0 -26.4%;
  width: 100%;
}

.left-sidebar #content {
  margin: 0 7.6% 0 34%;
  width: 58.4%;
}

.left-sidebar #secondary {
  float: left;
  margin-left: 7.6%;
  margin-right: 0;
  width: 18.8%;
}

/* One column */
.one-column #page {
  max-width: 690px;
}

.one-column #content {
  margin: 0 7.6%;
  width: auto;
}

.one-column #nav-below {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.625em;
}

.one-column #secondary {
  float: none;
  margin: 0 7.6%;
  width: auto;
}

/* Simplify the showcase template */
.one-column .page-template-showcase-php section.recent-posts {
  float: none;
  margin: 0;
  width: 100%;
}

.one-column .page-template-showcase-php #main .widget-area {
  float: none;
  margin: 0;
  width: auto;
}

.one-column .page-template-showcase-php .other-recent-posts {
  border-bottom: 1px solid #ddd;
}

/* Simplify the showcase template when small feature */
.one-column section.featured-post .attachment-small-feature {
  border: none;
  display: block;
  height: auto;
  max-width: 60%;
  position: static;
}

.one-column article.feature-image.small {
  margin: 0 0 1.625em;
  padding: 0;
}

.one-column article.feature-image.small .entry-title {
  font-size: 20px;
  line-height: 1.3em;
}

.one-column article.feature-image.small .entry-summary {
  height: 150px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
}

.one-column article.feature-image.small .entry-summary a {
  left: -9%;
}

/* Remove the margin on singular articles */
.one-column.singular .entry-header, .one-column.singular .entry-content, .one-column.singular footer.entry-meta, .one-column.singular #comments-title {
  width: 100%;
}

/* Simplify the pullquotes and pull styles */
.one-column.singular blockquote.pull {
  margin: 0 0 1.625em;
}

.one-column.singular .pull.alignleft {
  margin: 0 1.625em 0 0;
}

.one-column.singular .pull.alignright {
  margin: 0 0 0 1.625em;
}

.one-column.singular .entry-meta .edit-link a {
  position: absolute;
  left: 0;
  top: 40px;
}

.one-column.singular #author-info {
  margin: 2.2em -8.8% 0;
  padding: 20px 8.8%;
}

/* Make sure we have room for our comment avatars */
.one-column .commentlist > li.comment {
  margin-left: 102px;
  width: auto;
}

/* Make sure the logo and search form don't collide */
.one-column #branding #searchform {
  right: 40px;
  top: 4em;
}

/* Talking avatars take up too much room at this size */
.one-column .commentlist > li.comment {
  margin-left: 0;
}

.one-column .commentlist > li.comment .comment-meta, .one-column .commentlist > li.comment .comment-content {
  margin-right: 85px;
}

.one-column .commentlist .avatar {
  background: transparent;
  display: block;
  padding: 0;
  top: 1.625em;
  left: auto;
  right: 1.625em;
}

.one-column .commentlist .children .avatar {
  background: none;
  padding: 0;
  position: absolute;
  top: 2.2em;
  left: 2.2em;
}

.one-column #respond {
  width: auto;
}

/* =Global
----------------------------------------------- */
body, input, textarea {
  color: #ccc;
  font: 15px Times, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.625;
}

#sep {
  width: 225px;
  height: 1px;
  float: right;
  margin: 10px 0 20px;
  display: block;
  clear: both;
  background: url(img/px-filet_gris.png) repeat-x 0 100%;
}



/* =Menu
-------------------------------------------------------------- */
#access {
  display: block;
  float: right;
  width: 730px;
  margin: 46px 0 0;
  background: url(img/px-filet_gris.png) repeat-x 0 100%;
  height: 46px;
}

.menu {
  float: right;
}

#access ul {
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#access li {
  float: left;
  position: relative;
}

#access li.menu-item-language {
}

#access li.menu-item-language a {
  margin: 0 0 0 20px;
}

#access li.menu-contact a {
  margin: 0 30px 0 65px;
}

#access li.menu-item-language ul {
}

#access li.menu-item-language ul li {
}

#access li.menu-item-language ul li a {
  background: rgb(54, 54, 54);
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  width: 120px;
}

#access li.menu-item-language ul li a:hover {
  color: rgb(255, 96, 0);
}

#access li.menu-item-language a img {
  position: relative;
  margin: 0px 8px 0 0;
  padding: 0;
  left: inherit;
  top: inherit;
  width: auto;
  min-height: inherit;
  min-width: inherit;
}

#access a {
  color: #fff;
  display: block;
  line-height: 3.333em;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif, Arial;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 0 65px;
}

#access ul ul {
  display: none;
  float: left;
  margin: 0;
  position: absolute;
  top: 3.333em;
  left: 0;
  width: 188px;
  z-index: 99999;
}

#access ul ul ul {
  left: 100%;
  top: 0;
}

#access ul ul a {
  background: #f9f9f9;
  border-bottom: 1px dotted #ddd;
  color: #444;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 1.4em;
  padding: 10px;
  width: 168px;
}

#access li:hover > a, #access ul ul :hover > a, #access a:focus {
}

#access li:hover > a, #access a:focus {
  cursor: pointer;
  color: #FF6000;
  border-bottom: 1px solid #FF6000;
}

#access ul li:hover > ul {
  display: block;
  background: none;
  top: 45px;
  width: 120px;
  left: -48px;
}

#access .current-menu-item > a, #access .current-menu-ancestor > a, #access .current_page_item > a, #access .current_page_ancestor > a {
  font-weight: bold;
}

#page #hamburger {
  display: none;
}

/* Search Form */
#branding #searchform {
  position: absolute;
  top: 3.8em;
  right: 7.6%;
  text-align: right;
}

#branding #searchform div {
  margin: 0;
}

#branding #s {
  float: right;
  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;
  width: 72px;
}

#branding #s:focus {
  background-color: #f9f9f9;
  width: 196px;
}

#branding #searchsubmit {
  display: none;
}

#branding .only-search #searchform {
  top: 5px;
  z-index: 1;
}

#branding .only-search #s {
  background-color: #666;
  border-color: #000;
  color: #222;
}

#branding .only-search #s, #branding .only-search #s:focus {
  width: 85%;
}

#branding .only-search #s:focus {
  background-color: #bbb;
}

#branding .with-image #searchform {
  top: auto;
  bottom: -27px;
  max-width: 195px;
}

#branding .only-search + #access div {
  padding-right: 205px;
}

/* =Content
----------------------------------------------- */
#main {
  clear: both;
  padding: 1.625em 0 0;
  width: 1000px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.page-title {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 2.6em;
  margin: 0 0 2.6em;
  text-transform: uppercase;
}

.page-title a {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: none;
}

.hentry, .no-results {
  margin: 0 0 35px;
  padding: 0 0 35px;
  position: relative;
}

body.archive .hentry, body.archive .no-results {
  background: url(img/px-filet_gris.png) repeat-x 0 100%;
}

.hentry:last-child, .no-results {
  border-bottom: none;
}

.entry-title, .entry-header .entry-meta {
  padding-right: 76px;
}

.entry-title {
  clear: both;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: .3em;
  padding-top: 15px;
}

body.archive.tax-categorie .entry-title {
  padding-right: 0;
}

.entry-title, .entry-title a {
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 14px;
  text-transform: uppercase;
}

.entry-title a:hover, .entry-title a:focus, .entry-title a:active {
  color: #ededed;
}

.entry-meta {
  color: #666;
  clear: both;
  font-size: 12px;
  line-height: 18px;
}

.sep, .entry-meta a {
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 10px
}

#nav-single, #nav-single a {
  font-family: 'Open Sans', sans-serif, Arial;
}

.single-author .entry-meta .by-author {
  display: none;
}

.entry-content h1, .entry-content h2, .comment-content h1, .comment-content h2 {
  color: #000;
  font-weight: bold;
  margin: 0 0 .8125em;
}

.entry-content h3, .comment-content h3 {
  font-size: 10px;
  letter-spacing: .1em;
  line-height: 2.6em;
  text-transform: uppercase;
}

.entry-content table, .comment-content table {
  border-bottom: 1px solid #ddd;
  margin: 0 0 1.625em;
  width: 100%;
}

.entry-content th, .comment-content th {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 2.6em;
  text-transform: uppercase;
}

.entry-content td, .comment-content td {
  border-top: 1px solid #ddd;
  padding: 6px 10px 6px 0;
}

.entry-content #s {
  width: 75%;
}

.comment-content ul, .comment-content ol {
  margin-bottom: 1.625em;
}

.comment-content ul ul, .comment-content ol ol, .comment-content ul ol, .comment-content ol ul {
  margin-bottom: 0;
}

dl.gallery-item {
  margin: 0;
}

.page-link {
  clear: both;
  display: block;
  margin: 0 0 1.625em;
}

.page-link a {
  background: #eee;
  color: #373737;
  margin: 0;
  padding: 2px 3px;
  text-decoration: none;
}

.page-link a:hover {
  background: #888;
  color: #fff;
  font-weight: bold;
}

.page-link span {
  margin-right: 6px;
}

.entry-meta .edit-link a, .commentlist .edit-link a {
  background: #eee;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  float: right;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 300;
  text-decoration: none;
  padding: 0 8px;
}

.entry-meta .edit-link a:hover, .commentlist .edit-link a:hover {
  background: #888;
  color: #fff;
}

.entry-content .edit-link {
  clear: both;
  display: block;
}

#ie7 .menuref li {
  margin: 17px 0 17px;
}

#ie7 #bgcolors {
  background-position: -90px 186px
}

/* Images */
.entry-content img, .comment-content img, .widget img {
  max-width: 97.5%;
  /* Fluid images for posts, comments, and widgets */
}

img[class*=align], img[class*=wp-image-], img[class*=attachment-] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.size-full, img.size-large {
  max-width: 97.5%;
  width: auto;
  /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.entry-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

img.alignleft, img.alignright, img.aligncenter {
  margin-bottom: 1.625em;
}

p img, .wp-caption {
  margin-top: .4em;
}

.wp-caption {
  background: #eee;
  margin-bottom: 1.625em;
  max-width: 96%;
  padding: 9px;
}

.wp-caption img {
  display: block;
  margin: 0 auto;
  max-width: 98%;
}

.wp-caption .wp-caption-text, .gallery-caption {
  color: #666;
  font-family: Georgia, serif;
  font-size: 12px;
}

.wp-caption .wp-caption-text {
  margin-bottom: .6em;
  padding: 10px 0 5px 40px;
  position: relative;
}

.wp-caption .wp-caption-text:before {
  color: #666;
  content: '\2014';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 7px;
}

#content .gallery {
  margin: 0 auto 1.625em;
}

#content .gallery a img {
  border: none;
}

img#wpstats {
  display: block;
  margin: 0 auto 1.625em;
}

#content .gallery-columns-4 .gallery-item {
  width: 23%;
  padding-right: 2%;
}

#content .gallery-columns-4 .gallery-item img {
  width: 100%;
  height: auto;
}

/* Image borders */
img[class*=align], img[class*=wp-image-], #content .gallery .gallery-icon img {
  /* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
  border: 1px solid #444;
  padding: 6px;
}

.wp-caption img {
  border-color: #eee;
}

a:focus img[class*=align], a:hover img[class*=align], a:active img[class*=align], a:focus img[class*=wp-image-], a:hover img[class*=wp-image-], a:active img[class*=wp-image-], #content .gallery .gallery-icon a:focus img, #content .gallery .gallery-icon a:hover img, #content .gallery .gallery-icon a:active img {
  /* Add some useful style to those fancy borders for linked images ... */
  background: #eee;
  border-color: #bbb;
}

.wp-caption a:focus img, .wp-caption a:active img, .wp-caption a:hover img {
  /* ... including captioned images! */
  background: #fff;
  border-color: #ddd;
}

/* Make sure embeds and iframes fit their containers */
embed, iframe, object {
  max-width: 100%;
}

/* Author Info */
#author-info {
  font-size: 12px;
  overflow: hidden;
}

.singular #author-info {
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 2.2em -35.6% 0 -35.4%;
  padding: 20px 35.4%;
}

.archive #author-info {
  border-bottom: 1px solid #ddd;
  margin: 0 0 2.2em;
  padding: 0 0 2.2em;
}

#author-avatar {
  float: left;
  margin-right: -78px;
}

#author-avatar img {
  background: #fff;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #bbb;
  -moz-box-shadow: 0 1px 2px #bbb;
  box-shadow: 0 1px 2px #bbb;
  padding: 3px;
}

#author-description {
  float: left;
  margin-left: 108px;
}

#author-description h2 {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 10px;
}

/*
Post Formats Headings
To hide the headings, display: none the ".entry-header .entry-format" selector,
and remove the padding rules below.
*/
.entry-header .entry-format {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 2.6em;
  position: absolute;
  text-transform: uppercase;
  top: -5px;
}

.entry-header hgroup .entry-title {
  padding-top: 15px;
}

article.format-aside .entry-content, article.format-link .entry-content, article.format-status .entry-content {
  padding: 20px 0 0;
}

article.format-status .entry-content {
  min-height: 65px;
}

.recent-posts .entry-header .entry-format {
  display: none;
}

.recent-posts .entry-header hgroup .entry-title {
  padding-top: 0;
}

/* Singular content styles for Posts and Pages */
.singular .hentry {
  border-bottom: none;
  padding: 0;
  position: relative;
  float: left;
  text-align: left;
}

.singular.page .hentry {
  padding: 0;
  margin: 0;
}

.singular .entry-title {
  color: #fff;
  font-weight: bold;
  padding: 0 0 15px;
  width: 100%;
  float: left;
  display: block;
  clear: both;
}

.singular .entry-title, .singular .entry-header .entry-meta {
  padding-right: 0;
}

.singular .entry-header .entry-meta {
  position: absolute;
  top: 0;
  left: 0;
}

blockquote.pull {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.6125em;
  margin: 0 0 1.625em;
  text-align: center;
}

.singular blockquote.pull {
  margin: 0 -22.25% 1.625em;
}

.pull.alignleft {
  margin: 0 1.625em 0 0;
  text-align: right;
}

.singular .pull.alignleft {
  margin: 0 1.625em 0 -22.25%;
}

.pull.alignright {
  margin: 0 0 0 1.625em;
  text-align: left;
}

blockquote.pull.alignleft, blockquote.pull.alignright {
  width: 33%;
}

.singular .pull.alignright {
  margin: 0 -22.25% 0 1.625em;
}

.singular blockquote.pull.alignleft, .singular blockquote.pull.alignright {
  width: 33%;
}

.singular .entry-meta .edit-link a {
  bottom: auto;
  left: 50px;
  position: absolute;
  right: auto;
  top: 80px;
}

/* =Aside
----------------------------------------------- */
.format-aside .entry-title, .format-aside .entry-header .comments-link {
  display: none;
}

.singular .format-aside .entry-title {
  display: block;
}

.format-aside .entry-content {
  padding: 0;
}

.singular .format-aside .entry-content {
  padding: 1.625em 0 0;
}

/* =Link
----------------------------------------------- */
.format-link .entry-title, .format-link .entry-header .comments-link {
  display: none;
}

.singular .format-link .entry-title {
  display: block;
}

.format-link .entry-content {
  padding: 0;
}

.singular .format-link .entry-content {
  padding: 1.625em 0 0;
}

/* =Quote
----------------------------------------------- */
.format-quote blockquote {
  color: #555;
  font-size: 17px;
  margin: 0;
}

/* =Image
----------------------------------------------- */
.indexed.format-image .entry-header {
  min-height: 61px;
  /* Prevent the comment icon from colliding with the image when there is no title */
}

.indexed.format-image .entry-content {
  padding-top: .5em;
}

.indexed.format-image .entry-content p {
  margin: 1em 0;
}

.indexed.format-image .entry-content p:first-child, .indexed.format-image .entry-content p:first-child a, .indexed.format-image .entry-content p:first-child img {
  display: block;
  margin: 0;
}

.indexed.format-image .entry-content .wp-caption .wp-caption-text {
  margin: 0;
  padding-bottom: 1em;
}

.indexed.format-image footer.entry-meta {
  background: #ddd;
  overflow: hidden;
  padding: 4%;
  max-width: 96%;
}

.indexed.format-image div.entry-meta {
  display: inline-block;
  float: left;
  width: 35%;
}

.indexed.format-image div.entry-meta + div.entry-meta {
  float: none;
  width: 65%;
}

.indexed.format-image .entry-meta span.cat-links, .indexed.format-image .entry-meta span.tag-links, .indexed.format-image .entry-meta span.comments-link {
  display: block;
}

.indexed.format-image footer.entry-meta a {
  color: #444;
}

.indexed.format-image footer.entry-meta a:hover {
  color: #fff;
}

#content .indexed.format-image img {
  border: none;
  max-width: 100%;
  padding: 0;
}

.indexed.format-image .wp-caption {
  background: #111;
  margin-bottom: 0;
  max-width: 96%;
  padding: 2% 2% 0;
}

.indexed.format-image .wp-caption .wp-caption-text {
  color: #ddd;
}

.indexed.format-image .wp-caption .wp-caption-text:before {
  color: #444;
}

.indexed.format-image a:hover img {
  opacity: 0.8;
}

/* =error404
----------------------------------------------- */
.error404 #main #searchform {
  margin: 0 -8.9% 1.625em;
  overflow: hidden;
  padding: 1.625em 8.9%;
}

.error404 #main #s {
  width: 95%;
}

.error404 #main .widget {
  clear: none;
  float: left;
  margin-right: 3.7%;
  width: 30.85%;
}

.error404 #main .widget_archive {
  margin-right: 0;
}

.error404 #main .widget_tag_cloud {
  float: none;
  margin-right: 0;
  width: 100%;
}

.error404 .widgettitle {
  font-size: 10px;
  letter-spacing: .1em;
  line-height: 2.6em;
  text-transform: uppercase;
}

/* =Showcase
----------------------------------------------- */
h1.showcase-heading {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 2.6em;
  text-transform: uppercase;
}

/* Intro */
article.intro {
  background: #f9f9f9;
  border-bottom: none;
  margin: -1.855em -8.9% 1.625em;
  padding: 0 8.9%;
}

article.intro .entry-title {
  display: none;
}

article.intro .entry-content {
  color: #111;
  font-size: 16px;
  padding: 1.625em 0 .625em;
}

article.intro .edit-link a {
  background: #aaa;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 0 8px;
  position: absolute;
  top: 30px;
  right: 20px;
  text-decoration: none;
}

article.intro .edit-link a:hover, article.intro .edit-link a:focus, article.intro .edit-link a:active {
  background: #777;
}

/* Featured post */
section.featured-post {
  float: left;
  margin: -1.625em -8.9% 1.625em;
  padding: 1.625em 8.9% 0;
  position: relative;
  width: 100%;
}

section.featured-post .hentry {
  border: none;
  color: #666;
  margin: 0;
}

/* Small featured post */
section.featured-post .attachment-small-feature {
  float: right;
  height: auto;
  margin: 0 -8.9% 1.625em 0;
  max-width: 59%;
  position: relative;
  right: -15px;
}

section.featured-post.small {
  padding-top: 0;
}

section.featured-post .attachment-small-feature:hover, section.featured-post .attachment-small-feature:focus, section.featured-post .attachment-small-feature:active {
  opacity: .8;
}

article.feature-image.small {
  float: left;
  margin: 0 0 1.625em;
  width: 45%;
}

article.feature-image.small .entry-title {
  line-height: 1.2em;
}

article.feature-image.small .entry-summary {
  color: #555;
  font-size: 13px;
}

article.feature-image.small .entry-summary p a {
  background: #222;
  color: #eee;
  display: block;
  left: -23.8%;
  padding: 9px 26px 9px 85px;
  position: relative;
  text-decoration: none;
  top: 20px;
  width: 180px;
  z-index: 1;
}

article.feature-image.small .entry-summary p a:hover {
  background: #1982d1;
  color: #eee;
  color: rgba(255, 255, 255, 0.8);
}

/* Large featured post */
section.feature-image.large {
  border: none;
  max-height: 288px;
  padding: 0;
  width: 100%;
}

section.feature-image.large .showcase-heading {
  display: none;
}

section.feature-image.large .hentry {
  border-bottom: none;
  left: 9%;
  margin: 1.625em 9% 0 0;
  position: absolute;
  top: 0;
}

article.feature-image.large .entry-title a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: 300;
  padding: .2em 20px;
}

section.feature-image.large:hover .entry-title a, section.feature-image.large .entry-title:hover a {
  background: #eee;
  background: rgba(255, 255, 255, 0.8);
  color: #222;
}

article.feature-image.large .entry-summary {
  display: none;
}

section.feature-image.large img {
  display: block;
  height: auto;
  max-width: 117.9%;
  padding: 0 0 6px;
}

/* Featured Slider */
.featured-posts {
  border-bottom: 1px solid #ddd;
  display: block;
  height: 328px;
  margin: 1.625em -8.9% 20px;
  max-width: 1000px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.featured-posts .showcase-heading {
  padding-left: 8.9%;
}

.featured-posts section.featured-post {
  background: #fff;
  height: 288px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  width: auto;
}

.featured-posts section.featured-post.large {
  max-width: 100%;
  overflow: hidden;
}

.featured-posts section.featured-post {
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: opacity, visibility;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 200ms;
  -moz-transition-property: opacity, visibility;
  -moz-transition-timing-function: ease;
}

.featured-posts section.featured-post {
  opacity: 0;
  visibility: hidden;
}

.featured-posts #featured-post-1 {
  opacity: 1;
  visibility: visible;
}

.featured-post .feature-image.small:after {
  top: 253px;
}

#content .feature-slider {
  top: 5px;
  right: 8.9%;
  overflow: visible;
  position: absolute;
}

.feature-slider ul {
  list-style-type: none;
  margin: 0;
}

.feature-slider li {
  float: left;
  margin: 0 6px;
}

.feature-slider a {
  background: #3c3c3c;
  background: rgba(60, 60, 60, 0.9);
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(255, 255, 255, 0.5);
  display: block;
  width: 14px;
  height: 14px;
}

.feature-slider a.active {
  background: #1982d1;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4), inset 0 0 2px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4), inset 0 0 2px rgba(255, 255, 255, 0.8);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4), inset 0 0 2px rgba(255, 255, 255, 0.8);
  cursor: default;
  opacity: 0.5;
}

/* Recent Posts */
section.recent-posts {
  padding: 0 0 1.625em;
}

section.recent-posts .hentry {
  border: none;
  margin: 0;
}

section.recent-posts .other-recent-posts {
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0;
}

section.recent-posts .other-recent-posts li {
  padding: .3125em 0;
  position: relative;
}

section.recent-posts .other-recent-posts .entry-title {
  border-top: 1px solid #ddd;
  font-size: 17px;
}

section.recent-posts .other-recent-posts a[rel=bookmark] {
  color: #373737;
  float: left;
  max-width: 84%;
}

section.recent-posts .other-recent-posts a[rel=bookmark]:after {
  content: '-';
  color: transparent;
  font-size: 11px;
}

section.recent-posts .other-recent-posts a[rel=bookmark]:hover {
}

section.recent-posts .other-recent-posts .comments-link a, section.recent-posts .other-recent-posts .comments-link > span {
  border-bottom: 2px solid #999;
  bottom: -2px;
  color: #444;
  display: block;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.76333em;
  padding: .3125em 0 .3125em 1em;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  z-index: 1;
}

section.recent-posts .other-recent-posts .comments-link > span {
  border-color: #bbb;
  color: #888;
}

section.recent-posts .other-recent-posts .comments-link a:hover {
  color: #1982d1;
  border-color: #1982d1;
}

section.recent-posts .other-recent-posts li:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

/* =Attachments
----------------------------------------------- */
.image-attachment div.attachment {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-width: 1px 0;
  margin: 0 -8.9% 1.625em;
  overflow: hidden;
  padding: 1.625em 1.625em 0;
  text-align: center;
}

.image-attachment div.attachment img {
  display: block;
  height: auto;
  margin: 0 auto 1.625em;
  max-width: 100%;
}

.image-attachment div.attachment a img {
  border-color: #f9f9f9;
}

.image-attachment div.attachment a:focus img, .image-attachment div.attachment a:hover img, .image-attachment div.attachment a:active img {
  border-color: #ddd;
  background: #fff;
}

.image-attachment .entry-caption p {
  font-size: 10px;
  letter-spacing: .1em;
  line-height: 2.6em;
  margin: 0 0 2.6em;
  text-transform: uppercase;
}

/* =Navigation
-------------------------------------------------------------- */
#content nav {
  clear: both;
  overflow: hidden;
  padding: 0 0 1.625em;
}

#content nav a {
  font-size: 12px;
  font-weight: bold;
  line-height: 2.2em;
}

#nav-above {
  padding: 0 0 1.625em;
}

#nav-above {
  display: none;
}

.paged #nav-above {
  display: block;
}

.nav-previous {
  float: left;
  width: 50%;
}

.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

#content nav .meta-nav {
  font-weight: normal;
}

/* Singular navigation */
#nav-single {
  float: right;
  position: relative;
  top: -.3em;
  text-align: right;
  z-index: 1;
}

#nav-single .nav-previous, #nav-single .nav-next {
  width: auto;
}

#nav-single .nav-next {
  padding-left: .5em;
}

#nav-single .nav-previous {
  padding-right: .5em;
}

/* =Widgets
----------------------------------------------- */
.widget-area {
  font-size: 12px;
}

.widget {
  clear: both;
  margin: 0 0 2.2em;
}

.widget-title {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 2.6em;
  text-transform: uppercase;
  text-align: right;
}

.widget ul {
  font-size: 15px;
  margin: 0;
}

.widget ul ul {
  margin-left: 1.5em;
}

.widget ul li {
  color: #777;
  font-size: 13px;
}

.widget a {
  font-weight: bold;
  text-decoration: none;
}

.widget a:hover, .widget a:focus, .widget a:active {
  text-decoration: underline;
}

/* Search Widget */
.widget_search form {
  margin: 0 0 1.625em;
  float: right;
}

.widget_search #s {
  width: 77%;
}

.widget_search #searchsubmit {
  background: #ddd;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.09);
  color: #888;
  font-size: 13px;
  line-height: 25px;
  position: relative;
  top: -2px;
}

.widget_search #searchsubmit:active {
  background: #1982d1;
  border-color: #0861a5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #bfddf3;
}

/* Ephemera Widget */
section.ephemera ol, .widget_twentyeleven_ephemera ol {
  list-style: square;
  margin: 5px 0 0;
}

.widget_twentyeleven_ephemera .widget-entry-title {
  font-size: 15px;
  font-weight: bold;
  padding: 0;
}

.widget_twentyeleven_ephemera .comments-link a, .widget_twentyeleven_ephemera .comments-link > span {
  color: #666;
  display: block;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.76333em;
  text-transform: uppercase;
}

section.ephemera .entry-title .comments-link a:hover, .widget_twentyeleven_ephemera .entry-title .comments-link a:hover {
}

section.ephemera .entry-title a span {
  color: #29628d;
}

/* Twitter */
.widget_twitter li {
  list-style-type: none;
  margin-bottom: 14px;
}

.widget_twitter .timesince {
  display: block;
  font-size: 11px;
  margin-right: -10px;
  text-align: right;
}

/* Widget Image */
.widget_image img {
  border: 0;
  padding: 0;
  height: auto;
  max-width: 100%;
}

/* sidebar-page.php comments */

/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment, .page-template-sidebar-page-php.commentlist .pingback {
  margin-left: 102px;
  width: auto;
}

/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
  width: auto;
}





