

#header-mobile-menu {
  display: none;
}

/* =Menu
-------------------------------------------------------------- */
#access {
  display: block;
  width: 100%;
  float: right;
  border-bottom: 1px solid rgba(255,255,255,0.34);
  height: 46px;
  margin: 40px 0 0 0;
  position: relative;
  ul.menu {
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: right;
    li {
      float: left;
      position: relative;
      &.pull-left {
        position: absolute;
        left: 0;
      }
      a {
        color: #fff;
        display: block;
        line-height: 46px;
        padding: 0 1em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
        margin: 0 1em ;
        transition: all .6s ease;
      }
      &:hover{
        >ul.sub-menu {
          display: block;
          background: #292929;
          top: 45px;
          width: auto;
          left: 0;
          right: 0;
          margin: 1px auto;
          padding: 0;
          li{
          }
        }
      }
      .sub-menu {
        display: none;
        position: absolute;
        z-index: 99999;
        li{
          list-style: none;
          width: 100%;
          border: 1px solid rgba(255, 255, 255, 0.22);
          a {
            color: #fff;
            display: block;
            line-height: 3.333em;
            padding: 0 1em;
            text-decoration: none;
            text-transform: none;
            font-weight: normal;
            font-size: 14px;
            margin: 0 1em ;
          }
        }
      }
    }

  }
}

#mobile-menu {
  display: none;
}

@media screen and (max-width: 1280px) {
  #access {
    ul.menu {
      li {
        &.pull-left {
          position: relative;
          left: inherit;
        }
        a {
          padding-left: 0;
          padding-right: 0;
          font-size: 12px;
        }
      }

    }

  }
}

@media screen and (max-width: 1024px) {
  #access {
    display: none;
  }
  #mobile-menu {
    display: block;
    background: url(img/menu.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    width: 148px;
    height: 48px;
    float: right;
    margin: 30px 0 0;
    text-indent: 40px;
    line-height: 48px;
    color: #fff;
    cursor: pointer;
    transition: all .4s ease;
  }
}

@media screen and (max-width: 585px) {
  #mobile-menu {
    float: right;
    width: 48px;
    margin-top: 40px;
    span {
      display: none;
    }
  }
}



