

#header-mobile-menu {
  display: none;
}

/* =Menu
-------------------------------------------------------------- */
#access {
  display: block;
  width: 100%;
  float: right;
  border-bottom: 1px solid rgba(255,255,255,0.34);
  height: 46px;
  margin: 40px 0 0 0;
  ul.menu {
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: right;
    li {
      float: left;
      position: relative;
      a {
        color: #fff;
        display: block;
        line-height: 3.333em;
        padding: 0 1em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin: 0 1em ;
        transition: all .6s ease;
      }
      &:hover{
        >ul.sub-menu {
          display: block;
          background: #000;
          top: 45px;
          width: auto;
          left: 0;
          right: 0;
          margin: 1px auto;
          padding: 0;
          li{
          }
        }
      }
      .sub-menu {
        display: none;
        position: absolute;
        z-index: 99999;
        li{
          list-style: none;
          width: 100%;
          border: 1px solid rgba(255,255,255,0.34);
          a {
            color: #fff;
            display: block;
            line-height: 3.333em;
            padding: 0 1em;
            text-decoration: none;
            text-transform: none;
            font-weight: normal;
            font-size: 14px;
            margin: 0 1em ;
          }
        }
      }
    }
  }
}



