$headerTypography : 'Catamaran', Arial, sans-serif;
$fontFamily : 'Open Sans', sans-serif, Arial;

$typoColor: #000;
$linkColor: #222;
$headerColor: #333;
$activeColor: #ff6100;
$activeColor1: rgba(251, 95, 0, 0.73);
$siteWidth: 1280px;