

/* =error404
----------------------------------------------- */
.error404 #main #searchform {
  margin: 0 -8.9% 1.625em;
  overflow: hidden;
  padding: 1.625em 8.9%;
}

.error404 #main #s {
  width: 95%;
}

.error404 #main .widget {
  clear: none;
  float: left;
  margin-right: 3.7%;
  width: 30.85%;
}

.error404 #main .widget_archive {
  margin-right: 0;
}

.error404 #main .widget_tag_cloud {
  float: none;
  margin-right: 0;
  width: 100%;
}

.error404 .widgettitle {
  font-size: 10px;
  letter-spacing: .1em;
  line-height: 2.6em;
  text-transform: uppercase;
}