/*contact*/



.page-template-page-contact #contact_content a {
  color: $activeColor1;
}

#contact_content {
  float: left;
  width: 92%;
  padding: 0 1em 0 0;
}

#page div.wpcf7 {
  display: block;
  margin: 0;
  clear: left;
  float: left;
  width: 100%;
}

.wpcf7-form-control.wpcf7-submit {
  float: right;
  border: none;
  background: $activeColor;
  cursor: pointer;
  padding: 0;
  color: #fff;
  width: 80%;
  margin: 4% 4% 0 0;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  max-width: 320px;
}

.wpcf7-form-control.wpcf7-submit:hover {
  color: #ededed;
  background: #000;
}

div.wpcf7 textarea {
  height: 140px;
  display: block;
}

@media screen and (max-width: 768px) {
  #contact_content, #page div.wpcf7 {
    float: none;
    width: 92%;
    padding: 0;
    margin: auto;
  }
  .wpcf7-form-control.wpcf7-submit {
    float: none;
    margin: 2em auto;
    display: block;
  }
}
